/* 변경할 스타일 */

/* body{
    box-sizing: border-box;
    margin: 0; padding: 0;
    cursor: none;
}

#clock{
    width: 100%; height: 100vh;
    background: url('/imgs/fourseasons.jpg');
    background-size: cover;
    color: whitesmoke;
    font-size: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#circle{
    width: 100px; height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(245, 245, 245, 0.582); */
    /* transition: .3s ease-in-out; */
/* } */


/* body{
    margin: 0; padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#led-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    width: 500px;
    height: 100px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid salmon;

}

.led{
    width: 30px; height: 30px;
    background-color: antiquewhite;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease-in-out;
} */
/* 변경할 스타일 */
/* .on{
    box-shadow: 1px 1px 10px 10px antiquewhite;
}
 */


 /* .sidebar{
    width: 30%;
    height: 100vh;
    border: 1px solid blue;
    position: absolute;
    left: -30%; top: 0;

    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    transition: all .7s ease-in-out
 }

 .menu{
    flex: 1;
    width: 100%;
    background-color: azure;
    border-bottom: 1px solid blue;
    color:blue;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }

 .menu:hover{
    color: azure;
    background-color: cornflowerblue;
 }

 .show{
    left: 0; */
 /* } */


 body{
    margin: 0; padding: 0;
    text-align: center;
    background-color: aliceblue;
 }

 #photo-container{
    width: 500px;
    height: 250px;
    border: 1px solid cornflowerblue;
    margin: 20px auto;
    overflow: hidden;
 }

 #photos{
    width: 2500px;
    height: 100%;
    cursor: pointer;
  
    display: flex;
    transition: all 1s;
  
    margin-left: 0;

    border: 1px solid slateblue;
    overflow: hidden;
 }

 .photo{
    height: 100%; 
    flex: 1;
    background-size: cover;
    /* background-position: center; */
    overflow: hidden;
 }

 .photo:nth-child(1){
    background: url(/imgs/k_illusion.jpg) no-repeat center;
 }

 .photo:nth-child(2){
    background: url(/imgs/w_spicy.jpg)no-repeat center;
 }

 .photo:nth-child(3){
    background: url(/imgs/katarinablu.jpg)no-repeat center;
 }

 .photo:nth-child(4){
    background: url(/imgs/karina.jpg)no-repeat center;
 }

 .photo:nth-child(5){
    background: url(/imgs/5.jpg)no-repeat center;
 }

 #selection{
    width: 300px; height: 50px;
    border: 1px solid slateblue;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .options{
    width: 20px; height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: cornflowerblue;
    box-shadow: 1px 1px 5px 2px cornflowerblue;
    cursor: pointer;
    transition: .5s;
 }

 .options:hover{
    background-color: aliceblue;
 }

 .options.active{
    width: 30px; height: 30px;
 }