html, body{
    margin: 0; padding: 0
}

/* 부모 스크롤 스냅 컨테이너 */


.scroll-container {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory; /* y 축 방향으로만 scroll snap 적용 */
  }
  
  /* 자식 스크롤 스냅 영역 */
  .scroll {
    height: 100vh;
    scroll-snap-align: center; /* 스크롤 위치 맞춤 */
  }
  
  
  /* 여기서부턴 단순 꾸미기 --------------------------- */
  .scroll:nth-of-type(1) {
    background: #49b293;
  }
  
  .scroll:nth-of-type(2) {
    background: #c94e4b;
  }
  
  .scroll:nth-of-type(3) {
    background: #4cc1be;
  }
  
  .scroll:nth-of-type(4) {
    background: #8360A6;
  }