*{
    box-sizing: border-box;
}

:root{

}

html, body{
    padding: 0; margin: 0;
}
body{
    position: relative;
}
/* 헤더 영역 */
header{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1;
    background-color: beige;
}

/* 네비게이션 바 */

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

/* 네비게이션 바 좌측 */
nav .nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo{
    /* width: 160px; height: 60px; */
    display: flex;
    /* align-items: center; */
}
nav .logo a{
    display: flex;
    gap: 5px;
    align-items: center;
}
nav .logo img{
    width: 40px; height: 40px;
}

nav .logo p{
    margin: 0;
    color: rgb(214, 7, 35);
    font-size: 1.2rem;
}

.nav-left .logo a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-left .search button{
    width: 70px; height: 45px;
    background-color: rgba(0, 0, 0, 0);
    
    border: none;
    border-radius: 15px;

    font-size: 1rem;
    font-weight: bold;
}

.nav-left .search button:hover{
    background-color: rgba(168, 168, 168, 0.473);
}

/* 네비게이션바 우측 */
nav .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .menu a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav .menu button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
}

button.logIn{
    color: #fff;
    background-color: rgb(214, 7, 35);
}

/* 메인 영역 */
main{
    position: absolute;
    top: 80px; left:0; right: 0;
    display: grid;
    width: 90%; height:800px;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    
}

main section{
    height: 100%;

    border: 1px solid rgb(129, 129, 129);
    background-color: beige;
    display: grid;
    grid-template-rows: repeat(3, 1fr 2fr 1fr);
    grid-template-areas: 
    "";
}
/* 메인 헤더 */