*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    padding: 0; margin: 0;

}
/* 부모 스크롤 스냅 컨테이너 */
.scroll-container {
    height: 100vh;
    overflow: auto; 
    scroll-snap-type: y mandatory; /* y 축 방향으로만 scroll snap 적용 */
  }

.container{
    height: 100vh;
    scroll-snap-align: center;
}

.container:nth-of-type(1){
    display: grid;
    position: relative;
    grid-template-rows: 70px 1fr;
}
.container:nth-of-type(2){
    scroll-snap-align: start;
    background-color: aliceblue;
    /* height: 100vh; */
}
.container:nth-of-type(3){

    background-color:bisque;
    /* height: 100vh; */
}
.container:nth-of-type(4){
    background-color:cornflowerblue;
    /* height: 100vh; */
}



/* 헤더 영역 */
.container:nth-of-type(1) > header{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    border-bottom: .1rem solid rgb(193, 215, 46);
    z-index: 1;
} 

/* 네비게이션 바 */

nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} 

/* 네비게이션 바 좌측 */
nav .nav-left{
    display: flex;
    align-content: center;
    gap: 10px;
}

nav .logo{
    display: flex;
}
nav .logo a{
    display: flex;
    gap: 5px;
    align-items: center;
}
nav .logo img{
    width: 130px; height: 20px;
}

.nav-left .logo a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-left .search button{
    width: 70px; height: 45px;
    background-color: rgba(0, 0, 0, 0);
    
    border: none;
    border-radius: 15px;

    font-size: 1rem;
    font-weight: bold;
}

.nav-left .search button:hover{
    background-color: rgb(193, 215, 46);
}

/* 네비게이션바 우측 */
nav .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .menu a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav .menu button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

button.logIn{
    color: rgb(255, 255, 255);
    background-color: rgb(193, 215, 46);
}

nav .menu button:hover{
    background-color: rgb(193, 215, 46)
}
/* 메인 영역 */

main{
    display: grid;
    position: absolute;
    grid-template-rows: 1fr 3fr;
    top: 70px;bottom: 0;
}
main header{
    background-color: rgba(240, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main header p{
    font-size: 3rem;
    padding: 0; margin: 0;
    font-weight: bold;
}

main section{
    /* height: 100%; */
    margin: 0 3%;
    /* background-color: thistle; */
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: hidden;
    gap: 20px;
    /* grid-template-rows: repeat(7, 1fr); */
}


main section .s_section{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.s_section.row1{
    margin: 0 0 0 0;

    animation: img-animation1 5s infinite;
    animation-delay: 5.5s;
    /* animation-fill-mode:forwards; */
    transition: ease-out ;
}

@keyframes img-animation1 {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-100%);
      animation-timing-function: step-end;
    }
    93% {
      transform: translateY(100%);
    }
    95%{
        opacity: 1;
    }
    100% {
      opacity: .5;
    }
  }
/* @keyframes img-animation1{
    0%{
        margin: 0 0 0 0;
        opacity: 1;
    }
    100%{
        margin: -10% 0 0 0;
        opacity: 0;
    }
} */

.s_section.row2{
    margin: 60% 0 0 0;
    animation: img-animation2 2s;
    animation-delay: 5.5s;
    animation-fill-mode:forwards;
    animation-play-state:paused 3s;
    transition: ease-out ;
}
@keyframes img-animation2{
    0%{
        margin: 60% 0 0 0;
        opacity: 1;
    }
    100%{
        margin: 40% 0 0 0;
        opacity: 0;
    }
}

.s_section.row3{
    margin: 120% 0 0 0;
}

.s_section.row4{
    margin: 180% 0 0 0;
}



main section .s_section .img{
    width: 100%; height: 30%;
    border-radius: 20px;
    object-fit:cover;
    object-position: center;
    overflow: hidden;
}

main section .s_section .img img{
    width: 100%; height: 100%;
}

main section .text{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0; left: 50%;
    transform: translate(-50%, 0);
    font-size: 3rem;
    font-weight: bold;


    animation: text-animation 5s infinite;
    animation-delay: 5.5s;
    /* animation-fill-mode:forwards; */
    transition: ease-out ;
}


main section .text .slide-text-1{
    color:rgb(193, 215, 46);
}

@keyframes text-animation {
    0% {
      transform: translate(-50%, 0);
    }
  
    50% {
      transform: translate(-50%, 0);
    }
    90% {
      transform: translate(-50%, -100%);
      animation-timing-function: step-end;
    }
    93% {
        transform: translate(-50%, -100%);
    }
    95%{
        opacity: 1;
    }
    100% {
      opacity: .5;
    }
}

main section .text .slide-text-2{
    display:none;
}

main section .text .slide-text-3{
    display:none;
}

main section .text .slide-text-4{
    display:none;
}

.gradient{
    position:absolute;
    bottom: 0; left: 0; right: 0;
    height: 30%;
    background: linear-gradient(0deg, rgb(201, 209, 200), rgba(255, 255, 255, 0))
}
.circle{
    position:absolute;
    bottom: 7%; left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    
    animation: bounce 2s infinite;
}

@keyframes bounce{
    0%{
        bottom: 7%;
    }
    50%{
        bottom: 10%;
    }
    100%{
        bottom: 7%;
    }
}

.material-symbols-rounded{
    font-size: 4rem;
    color: rgb(193, 215, 46);
}

/* 푸터 영역 */
.container > footer{
    background-color: rgb(193, 215, 46);
    height: 5vh;
    position: absolute;
    bottom: 0; left: 0; right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}


.container:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;

    padding: 5%;
}

.container:nth-of-type(2) section div{
    font-size: 4rem;
    color:cornflowerblue
}
