*{
    box-sizing: border-box;
}

body{
    margin: 0; padding: 0;
    width: 100%; height: 300vh;
    background-color: cornflowerblue;
}

.container{
    width: 1000px; height: 300vh;
    position: absolute;
    left: 50%; transform: translate(-50%);
    background-color: rgba(240, 248, 255, 0.24);
    display: flex;
    flex-wrap: wrap;
}
.contents{
    width: 100%; height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 500px;
    opacity: 0;
}

.contents:nth-child(1){
    background-image: url(/imgs/새폴더/pink1.jpg);
}
.contents:nth-child(2){
    background-image: url(/imgs/새폴더/pink2.jpg);
}
.contents:nth-child(3){
    width: 50%;
    background-image: url(/imgs/새폴더/pink3.jpg);
}
.contents:nth-child(4){
    width: 50%;
    background-image: url(/imgs/새폴더/roses.jpeg)
}

.up{
    s
}

.down{
    .
}

.left{s}

.right{s}