body{
    text-align: center;
}

.container{
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    position: relative;
}

.color{
    width: 10rem; height: 10rem;
    background-color: #606060;
    position: absolute;
    bottom: -11rem;
    display: none;
}

.color::before{
    content:'';
    width: 1.4rem; height: 1.4rem;
    background-color:#606060;
    position: absolute;
    left: 50%; top: -.7rem;
    transform: translateX(-50%) rotateZ(45deg);
    z-index: -1;
}

.color span{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: .2rem;
    cursor:pointer;
    flex: 0 0 auto;
}

a:hover + .color{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}